* {
  box-sizing: border-box;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 20px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn1 {
  width: 114px;
  height: 56px;
  border: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn1::before {
  content: "";
  width: 18px;
  height: 10px;
  display: block;
  background-image: url("./images/sidelist.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn2 {
  width: 200px;
  height: 56px;
  border: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn2::before {
  content: "";
  width: 17px;
  height: 17px;
  display: block;
  background-image: url("./images/icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  gap: 29px;
  align-items: center;
}

.nav-li {
  list-style: none;
}

.nav-li3 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-li3::after {
  content: "";
  width: 28px;
  height: 28px;
  display: block;
  background-image: url("./images/count.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn3 {
  width: 69px;
  height: 30px;
  border: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn3::after {
  content: "";
  width: 10px;
  height: 6px;
  display: block;
  background-image: url("./images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn4 {
  width: 69px;
  height: 30px;
  border: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn4::after {
  content: "";
  width: 10px;
  height: 6px;
  display: block;
  background-image: url("./images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttons2 {
  display: flex;
  gap: 10px;
}

.birinchi {
  display: flex;
  background-color: #ffe2b5;
  border-radius: 50px;
  padding-top: 44px;
  padding-inline: 73px;
  padding-bottom: 115px;
  position: relative;
}

.wrapper {
  width: 429px;
}

.sc-h1 {
  font-weight: 400;
  font-size: 52px;
}

.h1-sp {
  font-weight: 700;
}

.bir-p {
  font-size: 20px;
  font-weight: 400;
}

.btn5 {
  width: 155px;
  height: 60px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 400;
  background-color: #000000;
  color: #d0ad37;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn5::after {
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  background-image: url("./images/arrow\ \(1\).svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 {
  position: absolute;
  bottom: 0px;
  right: 540px;
  top: 332px;
}

.leg {
  position: absolute;
  left: 550px;
  bottom: 0px;
  top: 23px;
}

.card1-li {
  display: flex;
  flex-direction: column;
}

.card1 {
  background-color: #7be498;
  width: 245px;
  height: 285px;
  position: relative;
  border-radius: 25px;
}

.card2 {
  background-color: #f5e6ff;
  width: 245px;
  height: 285px;
  position: relative;
  border-radius: 25px;
}

.card3 {
  background-color: #fcc579;
  width: 245px;
  height: 285px;
  position: relative;
  border-radius: 25px;
}

.card4 {
  background-color: #68eaeb;
  width: 245px;
  height: 285px;
  position: relative;
  border-radius: 25px;
}

.cross {
  position: absolute;
  right: -40px;
}

.cross2 {
  position: absolute;
  right: -25px;
}

.cross3 {
  position: absolute;
  bottom: 0;
  right: -80px;
  top: -70px;
}

.cross4 {
  position: absolute;
  right: -30px;
  top: 20px;
}

.sp1 {
  color: #fd4e61;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  list-style-type: none;
}

.spanss {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blue-btn {
  width: 71px;
  height: 25px;
  border-radius: 40px;
  border: none;
  color: #458ef6;
  background-color: #458ef642;
  margin-top: 13px;
}

.click1 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
}

.click2 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #e61800;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.click3 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #e67100;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.click4 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #e6c400;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.click5 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #70b200;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.last-btn {
  width: 245px;
  height: 60px;
  background-color: #e7e9eb;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
}

.last-btn::before {
  content: "";
  width: 19px;
  height: 20px;
  display: block;
  background-image: url("./images/icon\ \(1\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.crossname {
  margin-top: 16;
  margin-bottom: 8;
}
